.profile-page {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.profile-nav {
  border-right: 1px solid #3339;
  padding-right: 4rem;
}

table {
  background: var(--white);
  box-shadow: var(--shadow);
}

tr {
}
