.profile-page {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.active-page {
}

.profile-nav {
  border-right: 1px solid #3339;
  padding-right: 4rem;
}

.profile-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.profile-tabbed-list {
  list-style: none;
  padding-left: 1rem;
}

table {
  background: var(--white);
  box-shadow: var(--shadow);
}

li:hover {
  cursor: pointer;
  font-weight: 600;
}
