.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(348px, 1fr));
  gap: 2rem;
}

.card {
  box-sizing: border-box;
  background: var(--white);
  padding: 1.5rem;
  margin: 0 auto;
  max-width: 348px;
  box-shadow: var(--shadow);
  border-radius: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  gap: 2rem;
}

.image {
  border-radius: 1rem;
}

.headers {
  text-align: center;
}

.h3 {
  color: var(--dark);
  font-weight: 900;
}

.info {
  place-self: flex-start;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tags_container {
  display: flex;
}

.tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  gap: 0.5rem;
  line-height: 1.5;
}

.tag {
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  background: var(--light);
  white-space: wrap;
}

.button {
  margin-top: auto;
}

.blankCard {
  width: 100%;
  min-height: 550px;
  border-radius: 2rem;
  background: var(--black);
  box-shadow: var(--shadow);
}
