.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
  background-color: var(--light);
  box-shadow: var(--shadow);
  z-index: 100;
}

.nav {
  display: flex;
  gap: 1.5rem;
  width: max-content;
}
